PORT_SERVER=3010
PORT_DB=3012
PORT_FRONT=3013
PORT_CONFIG=3011

IP_SERVER=localhost
IP_DB=localhost
IP_FRONT=localhost
IP_CONFIG=localhost

DB_URL='mongodb+srv://<usuario>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<app-name>&ssl=true'
PROTOCOL=http
